@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --color-primary: #007bff;
  --color-secondary: #6c757d;
  --color-success: #28a745;
  --color-info: #17a2b8;
  --color-warning: #ffc107;
  --color-danger: #dc3545;
  --color-light: #f8f9fa;
  --color-dark: #343a40;
  --color-red: #e50914;
  background-color: #0f0f0f;
  color: #f8f9fa;
  ::selection {
    background-color: #64748b;
    color: #f8f9fa;
  }
}

.font-pixel {
  font-family: var(--font-pixel);
}

nav {
  @apply bg-gray-800;
  color: var(--color-light);
}

.firstLetter {
  @apply text-2xl;
  color: #e50914;
  font-weight: 900;
}

.stripContainer {
  position: fixed;
  top: 0;
  width: 100%;
  background-color: #f44336;
  color: white;
  text-align: center;
  z-index: 1000;
  overflow: hidden;
}

.strip {
  display: inline-block;
  padding: 10px 20px;
  white-space: nowrap;
  animation: move 10s linear infinite;
}

/* @keyframes move {
  0% {
    transform: translateX(100%);
  }
  100% {
    transform: translateX(-100%);
  }
} */
